# Terraform
**/terraform.tfstate
**/terraform.tfstate.backup
**/*.tfstate
**/.terraform/

# Terraform plan files (output of `terraform plan -out=tfplan`)
*.tfplan
*.tfplan.json

# CLI configuration files
.terraformrc
terraform.rc

# Other common ignored files
.DS_Store # macOS specific